table {
    border-collapse: collapse !important;
}

td, th {
    border: 1px solid #000000 !important;
    padding: 0.2rem !important;
    text-align: left !important;
}

td.edit_icon {
    display: none;
}
